body{
	margin:0px;
	width:100%;
	background-color: white;
}
.header-wrap {
	position: fixed;
	top: 0px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: white;
}
.logo {
	flex: 1;
}
.navi {
	flex:4;
}
.logo img{
	height :3vw;
	width :4vw;
	padding-top: 0.8vw;
	padding-left: 4vw;
	padding-right: 4vw;
}
nav ul {
	list-style: none;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	height:2vw;
}
nav ul li {
	flex:1;
	text-align: center;
}
nav ul li a{
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 10px;
}
nav ul li a:hover {
	padding: 10px;
	background-color:black;
	color: white;
}
.hero-image {
	margin-top:50px;
	border:0px;
	padding:0px;
	background-image:url(../img/hero.jpg);
	height:100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-text {
	text-align: center;
	color: grey;
	font-size: 4vw;
	padding-top: 4vh;
	font-weight: bold;
}
@media screen and (max-width:600px){
	.header-wrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.logo {
		flex: 2;
	}
	.navi {
		flex:1;
		border: 0px;
	}
	.logo img{
		height: 10vw;
		width : 10vw;
		padding-left: 45vw;
	}
	nav ul {
		margin: 0px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	nav ul li {
		flex:1;
		text-align: center;
	}
	nav ul li a{
		text-decoration: none;
		color: black;
		padding: 0px;
	}
	nav ul li a:hover {
		padding:0px;
		background-color:black;
		color: white;
	}
	.hero-image {
		margin-top:20vh;
		height: 50vh;
		background-repeat: no-repeat;
		background-size:cover;
	}
}
